<h1>Ng Colombia Chat</h1>
<ng-container *ngIf="afAuth.user | async as user; else showLogin">
  <h2>{{ user.displayName }}</h2>
  <button
    mat-raised-button
    (click)="logout()"
  >Logout</button>
</ng-container>
<ng-template #showLogin>
  <span>Please Login</span>
  <div class="login">
    <button
      mat-raised-button
      (click)="googleLogin()"
    >Login with google</button>
    <button
      mat-raised-button
      (click)="githubLogin()"
    >Login with github</button>
  </div>
</ng-template>
